:root {
  font-family: "Space Mono";
  /*font-family: 'SF UI Text',sans-serif;*/
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
  background-color: #fdedd8;
}

::selection {
  color: black;
  background-color: yellow;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(0, 0, 0);
  opacity: 0.5; /* Firefox */
  font-weight: lighter;
}

header {
  font-weight: bolder;
  font-size: xx-large;
  margin: 10px;
  padding: 10px;
}

.home {
  font-weight: normal;
  font-size: normal;
  position: absolute;
  right: 0;
  color: black;
  box-sizing: border-box;
  cursor: pointer;
  border: 1.5px solid;
  margin-right: 10px;
  outline: none;
  margin-top: 10px;
}

.home:hover {
  color: rgb(107, 107, 107);
}

.container {
  background-color: black;
  border-radius: 20px;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.add-bookmark {
  margin-left: 40px;
}

.bookmark-form input,
.bookmark-form button {
  margin-right: 10px;
  box-sizing: border-box;
}

.bookmarks {
  margin-top: 20px;
  box-sizing: border-box;
}

.bookmark {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 1px #fbdcb3;
  background-color: #fcf0e0;
}

.bookmark a {
  text-decoration: none;
  color: #333;
}

.bookmark a:hover {
  text-decoration: underline;
}

.add-bookmark button {
  background-color: rgb(255, 160, 83);
  border: 1px solid;
  border-radius: 4px;
  font-family: "Space Mono";
  font-weight: bolder;
  height: 29px;
  cursor: pointer;
  width: 100px;
}

button {
  background-color: rgb(255, 160, 83);
  border: 1px solid;
  border-radius: 4px;
  font-family: "Space Mono";
  font-weight: bolder;
  height: 25px;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: rgb(248, 146, 62);
}

input {
  background-color: rgb(255, 160, 83);
  border: 1px solid;
  border-radius: 4px;
  font-family: "Space Mono";
  height: 25px;
  color: black;
}

input:hover {
  background-color: rgb(252, 153, 72);
  color: black;
}
