body {
  margin: 0;
  padding: 0;
  background-color: #fdedd8;
  background-size: cover;
  font-family: 'Space Mono';
  height: 100vh;
  width: 100%;

}

h1{
  font-weight: bolder;
  font-size: x-large;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #000000d0;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 100px 50px rgb(255, 160, 83);
  -webkit-animation: blink 2s infinite alternate;
  animation: blink 2s infinite alternate;
}


@-webkit-keyframes blink {
  100% {
    box-shadow: 0 0 42px rgb(255, 160, 83),
      0 0 55px rgb(255, 160, 83);
  }
}

@keyframes blink {
  100% {
    box-shadow: 0 0 42px 5px rgb(255, 160, 83),
      0 0 55px 5px rgb(255, 160, 83);
  }
}


img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: calc(50% - 50px);
  background-color: rgb(243, 240, 240);
}

img:hover{
  filter: blur(0.75px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"], .login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #cccaca;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: rgba(255, 160, 83, 0.768);
  color: #000;
  box-shadow: 0px 0px 10px rgba(255, 160, 83, 0.317);

}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

.withoutLogin{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  color: #000000;
  font-size: medium;
  border-radius: 20px;
  width: 100%;
}